.ps-home-banner
    .ps-carousel--animate.ps-carousel--1st
        .item
            .ps-banner--1.bg--top(data-background="img/banner/home-1/home-1.jpg")
                .container
                    p 2018 Best Seller
                    h1  Books of Oceania & Asia
                    a(href='#').ps-btn.ps-btn--outline Buy Now
        .item
            .ps-banner--1.bg--top(data-background="img/banner/home-1/2.jpg")
              p 2018 Best Seller
              h1  Books of Oceania & Asia
              a(href='#').ps-btn.ps-btn--outline Buy Now

