-
    lookbook_5 = [
        {
            subTitle: '2018 Fashion For Mens',
            title: "Denim <br> & Jacket",
            desc: 'This web is developed by Group 18, which consists of following group members:',
            imageFolder: 'book-1'
        },
        {
            subTitle: '2018 Fashion For Womens',
            title: "Shirts <br> & Tops",
            desc: 'This web is developed by Group 18, which consists of following group members:',
            imageFolder: 'book-2'
        },
        {
            subTitle: '2018 Fashion For Shoes & Bags',
            title: "New arrivals",
            desc: 'This web is developed by Group 18, which consists of following group members:',
            imageFolder: 'book-3'
        },
        {
            subTitle: '2018 Fashion For Accessories',
            title: "Summer sale",
            desc: 'This web is developed by Group 18, which consists of following group members:',
            imageFolder: 'book-4'
        },
        {
            subTitle: 'Best Seller',
            title: "-40% spring",
            desc: 'This web is developed by Group 18, which consists of following group members:',
            imageFolder: 'book-5'
        },
    ]