-
    data_navigation = [
        {
            text: 'Home',
            url : '#',
            current:'homepage',
            extraClass: 'menu-item-has-children',
            subClass: 'sub-menu',
            subMenu: [
                {
                    text: 'Homepage',
                    url : 'index.html'
                },
            ]
        },
        {
            text: 'Shop',
            url : 'product-fullwidth.html',
            current: 'product',
            extraClass: 'menu-item-has-children',
            subClass: 'sub-menu',
            subMenu: [
                {
                    text: 'Product Fullwidth',
                    url: 'product-fullwidth.html',
                    current: 'product',
                },
                {
                    text: 'Product Fullwidth 5 Columns',
                    url: 'product-fullwidth-5-columns.html',
                    current: 'product',
                },
                {
                    text: 'Product Fullwidth 6 Columns',
                    url: 'product-fullwidth-6-columns.html',
                    current: 'product',
                },
                {
                    text: 'Product Left Sidebar',
                    url: 'product-left-sidebar.html',
                    current: 'product',
                },
                {
                    text: 'Product Left Sidebar 3 Column',
                    url: 'product-sidebar-3-columns.html',
                    current: 'product',
                },
                {
                    text: 'Product Left Sidebar 4 Column',
                    url: 'product-sidebar-4-columns.html',
                    current: 'product',
                },
                {
                    text: 'Categories List',
                    url: 'categories-list.html',
                    current: 'product',
                },
                {
                    text: 'Product Detail',
                    url: 'product-detail.html',
                    current: 'product',
                },
                {
                    text: 'Product Detail 2',
                    url: 'product-detail-2.html',
                    current: 'product',
                },
                {
                    text: 'Product Detail 3',
                    url: 'product-detail-3.html',
                    current: 'product',
                },
            ]
        },
        {
            text: 'Pages',
            url : '#',
            current: 'pages',
            extraClass: 'menu-item-has-children',
            subClass: 'sub-menu',
            subMenu: [
                {
                    text: 'Shopping Cart',
                    url: 'cart.html',
                    current: 'cart',
                },
                {
                    text: 'Login',
                    url: 'login.html',
                    current: 'cart',
                },
                {
                    text: 'Register',
                    url: 'register.html',
                    current: 'cart',
                },
                {
                    text: 'Lookbook 1',
                    url: 'lookbook-1.html',
                    current: 'cart',
                },
                {
                    text: 'Lookbook 2',
                    url: 'lookbook-2.html',
                    current: 'cart',
                },
                {
                    text: 'Portfolio 1',
                    url: 'portfolio.html',
                    current: 'cart',
                },
                {
                    text: 'Portfolio 2',
                    url: 'portfolio-2.html',
                    current: 'cart',
                },
                {
                    text: 'Meet Our Team',
                    url: 'meet-the-team.html',
                    current: 'cart',
                },
            ]
        },
    
        {
            text: 'About Us',
            url: 'about-us.html',
            current: 'about',
        },
        {
            text: 'Contact Us',
            url: 'contact-us.html',
            current: 'about',
        },
    ]
-
    menu_2_1 = [
        {
            text: 'Shop',
            url : 'product-fullwidth.html',
            current: 'product',
            extraClass: 'menu-item-has-children',
            subClass: 'sub-menu',
            subMenu: [
                {
                    text: 'Product Fullwidth',
                    url: 'product-fullwidth.html',
                    current: 'product',
                },
                {
                    text: 'Product Fullwidth 5 Columns',
                    url: 'product-fullwidth-5-columns.html',
                    current: 'product',
                },
                {
                    text: 'Product Fullwidth 6 Columns',
                    url: 'product-fullwidth-6-columns.html',
                    current: 'product',
                },
                {
                    text: 'Product Left Sidebar',
                    url: 'product-left-sidebar.html',
                    current: 'product',
                },
                {
                    text: 'Product Left Sidebar 3 Column',
                    url: 'product-sidebar-3-columns.html',
                    current: 'product',
                },
                {
                    text: 'Product Left Sidebar 4 Column',
                    url: 'product-sidebar-4-columns.html',
                    current: 'product',
                },
                {
                    text: 'Categories List',
                    url: 'categories-list.html',
                    current: 'product',
                },
                {
                    text: 'Product Detail',
                    url: 'product-detail.html',
                    current: 'product',
                },
                {
                    text: 'Product Detail 2',
                    url: 'product-detail-2.html',
                    current: 'product',
                },
                {
                    text: 'Product Detail 3',
                    url: 'product-detail-3.html',
                    current: 'product',
                },
            ]
        },
        {
            text: 'Pages',
            url : '#',
            current: 'pages',
            extraClass: 'menu-item-has-children',
            subClass: 'sub-menu',
            subMenu: [
                {
                    text: 'Shopping Cart',
                    url: 'cart.html',
                    current: 'cart',
                },
                {
                    text: 'Login',
                    url: 'login.html',
                    current: 'cart',
                },
                {
                    text: 'Register',
                    url: 'register.html',
                    current: 'cart',
                },
                {
                    text: 'Lookbook 1',
                    url: 'lookbook-1.html',
                    current: 'cart',
                },
                {
                    text: 'Lookbook 2',
                    url: 'lookbook-2.html',
                    current: 'cart',
                },
                {
                    text: 'Portfolio 1',
                    url: 'portfolio.html',
                    current: 'cart',
                },
                {
                    text: 'Portfolio 2',
                    url: 'portfolio-2.html',
                    current: 'cart',
                },
                {
                    text: 'Meet Our Team',
                    url: 'meet-the-team.html',
                    current: 'cart',
                },
            ]
        },
    ]
-
    menu_2_2 = [
        {
            text: 'About Us',
            url: 'about-us.html',
            current: 'about',
        },
        {
            text: 'Contact Us',
            url: 'contact-us.html',
            current: 'about',
        },
    ]