.ps-section.ps-home-testimonials
    .container
        .ps-section__header
            h3 DEVELOP TEAM
            p Items that worth the hype
        .ps-section__content
            .ps-block--testimonial
                .ps-block__thumbnail
                    img(src="img/user/1.jpg" alt="")
                .ps-block__content
                    p This web is developed by Group 18, which consists of following group members:
                    h5 <strong>Andrew Hill </strong> -  Backend developer
                    h5 <strong>Dai Yilei </strong> -  Frontend developer
                    h5 <strong>Neancence Hew </strong> -  Backend developer
                    h5 <strong>Sebastian Kong </strong> -  Backend developer
                    h5 <strong>Thong Li </strong> -  Frontend developer

